<!DOCTYPE html>
<html data-bs-theme="light" lang="en" style="min-height: 100%">
  <head>
    <link />
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}"
      rel="stylesheet"
    />
    <!-- Bootstrap Fonts and Icons -->
    <link
      href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}"
      rel="stylesheet"
    />

    <title>{% block title %}Car Rental{% endblock %}</title>
  </head>
  <body>
    <!-- navbar -->
    {%if show_navbar%}
    <nav
      class="navbar navbar-expand-md sticky-top navbar-shrink py-3"
      id="mainNav"
    >
      <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/"
          ><span
            class="bs-icon-lg bs-icon-circle bs-icon-primary shadow d-flex justify-content-center align-items-center me-2 bs-icon"
            style="background: #a599b5"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icon-tabler-car-suv"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M5 17a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
              <path d="M16 17a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
              <path
                d="M5 9l2 -4h7.438a2 2 0 0 1 1.94 1.515l.622 2.485h3a2 2 0 0 1 2 2v3"
              ></path>
              <path d="M10 9v-4"></path>
              <path d="M2 7v4"></path>
              <path
                d="M22.001 14.001a4.992 4.992 0 0 0 -4.001 -2.001a4.992 4.992 0 0 0 -4 2h-3a4.998 4.998 0 0 0 -8.003 .003"
              ></path>
              <path d="M5 12v-3h13"></path></svg></span
          ><span
            style="
              font-size: 40px;
              font-weight: bold;
              text-align: center;
              --bs-dark: #2e2f2f;
              --bs-dark-rgb: 46, 47, 47;
            "
            >Car Rental Service</span
          ></a
        ><button
          data-bs-toggle="collapse"
          class="navbar-toggler"
          data-bs-target="#navcol-1"
        >
          <span class="visually-hidden">Toggle navigation</span
          ><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item"></li>
            <li class="nav-item"></li>
            <li class="nav-item"></li>
            <li class="nav-item"></li>
          </ul>
          <a
            class="btn btn-secondary shadow"
            role="button"
            id="cartbutton"
            style="
              --bs-primary: #a599b5;
              --bs-primary-rgb: 165, 153, 181;
              --bs-secondary: #acbdba;
              --bs-secondary-rgb: 172, 189, 186;
              background: #acbdba;
              border-style: none;
              margin-right: 10px;
            "
            href="shopping-cart.html"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              fill="currentColor"
              viewBox="0 0 16 16"
              class="bi bi-cart-fill"
            >
              <path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"
              ></path></svg></a
          ><button
            class="btn btn-primary shadow"
            type="button"
            data-bs-target="#signup"
            data-bs-toggle="modal"
            style="margin-right: 10px"
          >
            Account</button
          ><a
            class="btn btn-danger shadow"
            role="button"
            href="login.html"
            data-bs-target="#signup"
            data-bs-toggle="modal"
            >Sign out</a
          >
        </div>
      </div>
    </nav>
    {% endif %} {% block content %} {% endblock %}
    <!-- footer -->
    <footer
      class="bg-primary-gradient"
      style="color: rgba(255, 255, 255, 0); text-align: center; width: 100%"
    >
      <div class="container py-4 py-lg-5">
        <hr />
        <div
          class="text-muted d-flex justify-content-between align-items-center pt-3"
        >
          <p class="mb-0" style="margin: auto">Copyright © 2024 Car Rental</p>
          <ul class="list-inline mb-0">
            <li class="list-inline-item"></li>
            <li class="list-inline-item"></li>
            <li class="list-inline-item"></li>
            <li class="list-inline-item"></li>
          </ul>
        </div>
      </div>
    </footer>
    <!-- Bootstrap JS -->
    <script src="{{ url_for('static', filename='/static/assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/static/assets/js') }}"></script>

  </body>
</html>
